body
{
    background-image:url(../images/pexels-photo-374006.jpeg);
    color :#fff
        
}
.privlege
{
    width:100%;
    height:600px;
    background-image:url(../images/pexels-photo-374006.jpeg);
}
.check 
{
    margin-left: 460px;
    margin-top: 70px;

}
.ins p{
    color :#000;
    padding-left: 450px;
    padding-top: 0px;
}
.radio
{
    margin-left:560px;
}
.radio input {
     margin-left: 35px;
}
.radio p {
    color :#fff;
}
button 
{
    margin-top: 40px;
}