body {
    margin: 0px;
}
.privlege
{
    width:100%;
    height:600px;
    background-image:url(../images/blog_admin.jpg);
}

.privlege form {
    padding-top: 250px;
}

select ,  button
{
    display: block;
    background-color: #fff;
    border: 2px solid blue;
    color: #000;
    font-size: 15px;
    height: 40px;
    width: 300px;
    padding-left: 15px;
    margin-top: 0px;
    margin-left: 550px;
    border-radius: 15px;
}
.check 
{
    margin-left: 500px;
    margin-top: 80px;
    
}
.check input
{
    margin-left: 35px;
}
button 
{
    height: 40px;
    width: 100px;
    margin-left: 620px;
    margin-top: 60px;
    padding-left: 0px;    
}
button:hover
{
    cursor:pointer 
}
.admin 
{
    width: 350px;
    height: 350px;
    border: 10px ;
    border-color: black;
    border-top: none;
    margin: 50px;
    color:#000;
}
.admin input
{
    margin-top: 20px;
    border-radius:10px;
    padding-left: 6px;   
}
.admin button
{
        margin-left:60px;
}
.admin input[type=text] , .admin input[type=email]
{
    width:250px;
    height:30px;
}
.admin input[type=radio]
{
    margin-left: 10px;
}