body
{
    margin: 0;
    padding: 0;
    background: url(body.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: comB;
    
}
.createbox
{
    width: 450px;
<<<<<<< HEAD
    height: 540px;
=======
    height: 620px;
>>>>>>> 45c19a2c2aa1a7c38cde39ca87e15e4d46016414
    padding: 40px;
    padding-top: 0px;
    margin-top: 120px;
    margin-left: 500px;
    float: center;
    border: 4px solid rgba(255,255,255,1);
    border-radius: 20px;
    border-top: none;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}
.createbox h2
{
    text-align: center;
    color: #FFF;
    margin: 0px;
    margin-bottom: 20px;
}

.named,.unamed
{
    display: inline-block;
    color: #FFF;
    margin-top: 20px;
}

.unamed
{
    float: right;
}

.emaild
{
    margin-top: 20px;
    color: #fff;
}
<<<<<<< HEAD
=======
.exper
{
  margin-top: 20px;
    color: #fff;  
}
>>>>>>> 45c19a2c2aa1a7c38cde39ca87e15e4d46016414

.emaild input
{
    margin-top: 5px;
    padding-left: 10px;
    width: 450px;
    height: 30px;
    background: none;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 10px;
    color: #FFF;

}

<<<<<<< HEAD
.passnumd, .repassbirthd
=======
.passnumd, .repassbirthd 
>>>>>>> 45c19a2c2aa1a7c38cde39ca87e15e4d46016414
{
    margin-top: 20px;
    color: #FFF;
    display: inline-block;
}

.repassbirthd
{
    float: right;
}

<<<<<<< HEAD
.named input, .unamed input, .passnumd input, .repassbirthd input
=======
.named input, .unamed input, .passnumd input, .repassbirthd input ,.exper input
>>>>>>> 45c19a2c2aa1a7c38cde39ca87e15e4d46016414
{
    background: none;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 10px;
    color: #FFF;

}

.kindmaled, .kindfemaled
{
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}

.kindmaled
{
    margin-left: 80px;
}

.kindfemaled
{
    float: right;
    margin-right: 80px;
}
.stud
{
    margin-left: 80px;
    color: #fff;
}

.inst
{
    margin-top: -20px;
    padding-top:  0px;
    float: right;
    margin-right: 80px;
    color: #fff;
}

.check
{
    font-family: comB;
    color: #fff;
    font-size: 15px;
    margin-top: 40px;
}

<<<<<<< HEAD
.sub
=======
.submit
>>>>>>> 45c19a2c2aa1a7c38cde39ca87e15e4d46016414
{
    background: rgba(255,255,255,1);
    color: #000;
    margin-top: 30px;
    margin-left: 100px;
    font-family: comB;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    transition: 0.5s;
}

<<<<<<< HEAD
.sub:hover
=======
.submit:hover
>>>>>>> 45c19a2c2aa1a7c38cde39ca87e15e4d46016414
{
    background: none;
    border: 2px solid rgba(255,255,255,1);
    color: #FFF;
    transition: 0.5s;
    box-shadow: 2px 2px 2px #000;
}
